$primarycolor: #1456ff;

$red: rgb(255, 34, 34);
$orange: rgb(255, 138, 95);
$yellow: #ffd700;
$olive: rgb(35, 133, 35);
$green: #26a065;
$teal: #008080;
$blue: #1456ff;
$violet: rgb(141, 29, 141);
$purple: rgb(126, 26, 240);
$pink: #ff1493;
$brown: rgb(102, 51, 27);
$gray: #e3eafa;
$secondarycolor: $gray;
$black: #000000;
body,
html,
#app {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}
#app > div {
  min-height: 100vh;
}
.pushable,
.pushable > .pusher {
  min-height: calc(100vh - 71px);
}
.ui.menu .ui.dropdown .menu > .item {
  padding: 0 !important;
}
.ui.header.login-heading {
  letter-spacing: 1.5px;
  font-size: 22px;
  font-weight: bold;
  color: #444;
  font-weight: 600;
  font-family: "Titillium Web";
}
.ui.segment.minimal {
  border: 1px solid $gray;
  letter-spacing: 2px !important;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: none;
}
.ui.segment .ui.form .fields .field .ui.input input,
.ui.segment .ui.input input,
textarea {
  background-color: $gray !important;
  border: none !important;
  color: #333;
  height: 50px;
  font-size: 16px;
  letter-spacing: 1.5px;
}
.ui.segment.cursorpointer:hover {
  cursor: pointer;
}
.ui.input input::placeholder {
  color: rgba(191, 191, 191, 0.87) !important;
  font-size: 16px;
  letter-spacing: 1.5px;
}
.ui.form .ui.input input:focus::placeholder {
  color: #333 !important;
}
.ui.segment .ui.primary.button {
  background-color: $primarycolor;
  text-transform: uppercase;
  height: 50px;
  & a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    &:hover {
      text-decoration: none;
    }
  }
}
.ui.segment .ui.primary.basic.button {
  box-shadow: 0px 0px 0px 1px $primarycolor inset !important;
  color: $primarycolor !important;
  text-transform: uppercase;
  height: 50px;
}
.ui.message {
  border: 1px solid $gray !important;
  box-shadow: none !important;
  background-color: $gray;
}
.ui.secondary.menu .item {
  color: $primarycolor;
}
.ui.message {
  border: none !important;
}
.ui.dropdown.category-select {
  border: none;
  background-color: $gray;
  line-height: 25px;
  margin-right: 5px;
}
.ui.selection.dropdown > .dropdown.icon {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.ui.selection.active.dropdown .menu {
  color: #333;
  border: none;
}
.ui.dropdown.selected,
.ui.dropdown .menu .item {
  background-color: transparent;
  height: 50px;
  line-height: 25px;
}
.ui.table {
  border-color: $gray;
  letter-spacing: 1px;
  font-size: 15px;
}
.ui.table thead {
  background-color: $gray;
}
.ui.table thead th {
  background-color: $gray;
  border-bottom: none;
  height: 50px;
}
.ui.segment {
}
.ui.header.brand {
  color: $primarycolor;
}
.ui[class*="vertically divided"].grid > .row:before {
  box-shadow: none;
}
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before,
.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: $primarycolor !important;
}
.input-column {
  width: 90% !important;
}
.input-column .ui.small.input {
  width: 100% !important;
}
.stats .ten.wide.column {
  display: flex;
  align-items: center;
}
.stats .ui.raised.segment {
  display: flex;
}
.queries .ten.wide.column {
  display: flex;
  align-items: center;
}
.queries .ui.raised.segment {
  display: flex;
}
code {
  background-color: $gray;
}
.ui.grid > .column.radio-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addQButton:first-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.addQButton:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
