$primarycolor: #1456ff;

$red: rgb(255, 34, 34);
$orange: rgb(255, 138, 95);
$yellow: #ffd700;
$olive: rgb(35, 133, 35);
$green: #26a065;
$teal: #008080;
$blue: #1456ff;
$violet: rgb(141, 29, 141);
$purple: rgb(126, 26, 240);
$pink: #ff1493;
$brown: rgb(102, 51, 27);
$gray: #e3eafa;
$secondarycolor: $gray;
$black: #000000;
body,
html,
#root {
  width: 100vw;
  min-height: 100vh;

  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}
#root > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.brand-menu:hover {
  cursor: pointer;
}
.pushable,
.pushable > .pusher {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100vw);
  margin: 0;
}
.ui.segment.navbar {
  border-radius: 0 !important;
}
.ui.header.login-heading {
  letter-spacing: 1.5px;
  font-size: 22px;
  font-weight: bold;
  color: #444;
  font-weight: 600;
  font-family: "Titillium Web";
}
.ui.segment.minimal {
  border: 1px solid $gray;
  letter-spacing: 2px !important;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: none;
}
.ui.segment .ui.form .fields .field .ui.input input,
.ui.segment .ui.input input,
textarea {
  background-color: $gray !important;
  border: none !important;
  color: #333;
  height: 50px;
  font-size: 16px;
  letter-spacing: 1.5px;
}
.ui.segment.cursorpointer:hover {
  cursor: pointer;
}
.ui.indicating.progress .bar {
  background-color: $primarycolor !important;
}
.ui.input input::placeholder {
  color: rgba(191, 191, 191, 0.87) !important;
  font-size: 16px;
  letter-spacing: 1.5px;
}
.ui.form .ui.input input:focus::placeholder {
  color: #333 !important;
}
.react-datepicker-wrapper {
  width: 100%;
  & div {
    width: 100%;
  }
  & .button {
    height: 38px !important;
  }
}
.visible.menu {
  z-index: 99;
}
// .field button.ui.primary.button {
//   height: 36px !important;
//   &:hover {
//     background-color: darken($primarycolor, 10%);
//   }
// }
.ui.segment .ui.primary.button {
  background-color: $primarycolor;
  text-transform: uppercase;
  height: 50px;
  & a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    &:hover {
      text-decoration: none;
    }
  }
}
.courseCard {
  min-height: 400px !important;
  &:hover {
    cursor: pointer;
  }
  &.request-course {
    border: 2px dashed darken($gray, 30%);
    box-shadow: none;
    & h4.ui.header {
      color: $primarycolor;
    }
  }
  & .content {
    display: flex;
    flex-direction: column;
    & .description {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &.extra {
      flex-direction: row !important;
    }
    & h3 {
      color: $primarycolor;
      text-align: center;
    }
  }
}
.pushable {
}
.ui.segment .ui.primary.basic.button {
  box-shadow: 0px 0px 0px 1px $primarycolor inset !important;
  color: $primarycolor !important;
  text-transform: uppercase;
  height: 50px;
}
.ui.message {
  border: 1px solid $gray !important;
  box-shadow: none !important;
  background-color: $gray;
}
.ui.secondary.menu .item,
.ui.secondary.menu.inverted .item,
.ui.secondary.inverted.menu a.item {
  color: $primarycolor !important;
}
.ui.message {
  border: none !important;
}
.ui.dropdown.category-select {
  border: none;
  background-color: $gray;
  line-height: 25px;
  margin-right: 5px;
}
.ui.selection.dropdown > .dropdown.icon {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.ui.selection.active.dropdown .menu {
  color: #333;
  border: none;
}
.ui.segment th .ui.input input {
  background-color: #fff !important;
}
.ui.dropdown.selected,
.ui.dropdown .menu .item {
  background-color: transparent;
  height: 50px;
  line-height: 25px;
}
.ui.table {
  border-color: $gray;
  letter-spacing: 1px;
  font-size: 15px;
}
.ui.table thead {
}
.ui.table thead th {
  background-color: $gray;
  border-bottom: none;
  height: 50px;
}
.ui.segment {
}
.ui.header.brand {
  color: $primarycolor;
}
.ui[class*="vertically divided"].grid > .row:before {
  box-shadow: none;
}
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before,
.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color: $primarycolor !important;
}
.input-column {
  width: 90% !important;
}
.input-column .ui.small.input {
  width: 100% !important;
}
.stats .ten.wide.column {
  display: flex;
  align-items: center;
}
.stats .ui.raised.segment {
  display: flex;
}
.center-label {
  font-size: 25px;
  font-weight: bold;
  fill: $primarycolor;
  & .link-label {
    &:hover {
      cursor: pointer;
    }
  }
}
.link-label {
  background-color: $primarycolor;
  & .center-label {
    font-size: 25px;
    font-weight: bold;
    fill: $primarycolor;
  }
}
.queries .ten.wide.column {
  display: flex;
  align-items: center;
}
.queries .ui.raised.segment {
  display: flex;
}
code {
  background-color: $gray;
}
.ui.grid > .column.radio-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.addQButton:first-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.addQButton:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ui.menu .item > i.icon {
  margin: 0;
}
.ui.menu .item {
  display: flex;
  justify-content: center;
}
.float {
  align-self: center;
}
.react-sweet-progress {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.react-sweet-progress-symbol {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 35px;
  height: 20px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 200;
}

.react-sweet-progress-symbol-absolute {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  transform: translate3d(-50%, -50%, 0);
}
.react-sweet-progress-symbol-absolute .react-sweet-progress-symbol {
  padding: 0;
  width: 100%;
}

.react-sweet-progress-circle-outer {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.react-sweet-progress-line {
  width: 100%;
  border-radius: 100px;
  background-color: #efefef;
  vertical-align: middle;
}
.react-sweet-progress-line-inner {
  position: relative;
  min-height: 10px;
  border-radius: 100px;
  transition: width 0.3s ease;
}
.ui.menu .dropdown.item .menu.notifications {
  left: -220px;
  width: 300px;
  margin-top: 20px !important;
  height: 500px;
  overflow-y: auto;
  & > .item {
    background-color: transparent;
    & .segment {
      background-color: rgba(255, 255, 255, 0.8) !important;
      word-break: normal;
      white-space: normal;
      min-width: 100%;
      height: auto;
      display: inline-block;
    }
    & .segment.inverted {
      background-color: rgba(0, 0, 0, 0.8) !important;
    }
  }
}
@media (min-width: 768px) {
  .ui.menu .dropdown.item .menu.notifications {
    left: -200px;
  }
}
.ui.menu .ui.dropdown .menu.notifications > .item {
  height: auto !important;
  &:hover {
    background-color: transparent !important;
    & .segment {
      background-color: #fff !important;
    }
    & .segment.inverted {
      background-color: rgba(0, 0, 0, 0.8) !important;
    }
  }
}
.react-sweet-progress-line-inner-status-active:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: #fff;
  animation: active-anim 2s cubic-bezier(0.25, 1, 0.6, 1) infinite;
  content: "";
  opacity: 0;
}

@keyframes active-anim {
  0% {
    width: 0;
    opacity: 0.1;
  }
  20% {
    width: 0;
    opacity: 0.5;
  }
  to {
    width: 100%;
    opacity: 0;
  }
}
.react-sweet-progress-circle path {
  stroke-linecap: round;
}
.question-name {
  margin-bottom: 0 !important;
}
.question:hover {
  cursor: pointer;
}
div.ui.input .field .ui.primary.button {
  height: 50px !important;
}
